<div class="container"><h2>Q:</h2>
  <h3><%= @question %></h3>
</div>

<div class="container">
  <h2>A:</h2>
  <h3><%= @answer %></h3>
</div>

<div class="container">
  <h4><%= link_to 'ask another question', '/ask' %></h4>
</div>
